body#tinymce {
    margin: 12px !important;
}

body#tinymce, .content-tinymce {

    color: $dark;

    a {
        color: $primary;
    }

    strong {
        font-weight: 700;
	}

	p {
		color: $dark;

        &:last-child() {
            margin-bottom: 0;
        }
	}

	h1 {

	}

	h2 {

	}

	h3 {

	}

	h4 {

	}

	h5 {

	}

	h6 {

	}

	hr {
		border-color: $gray;
		@include margin-y(6rem);
	}

	ul {
        margin-bottom: 3rem;
    }

}
