html {
  font-size: 10px;
}

img {
  display: block;
}

iframe {
  border: none;
}

ul {
  @include list-unstyled;
  margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

// Apply padding to divs with columns that are set with mixins
// e.g. @include col(6)
.row:not(.no-gutters) {
    .cols {
        @include padding-x($grid-gutter-width/2);
    }
}

::selection {
  background: $yellow;
  color: $dark;
}

::-moz-selection {
  background: $yellow;
  color: $dark;
}

// Prevent unintended transitions on page load https://css-tricks.com/transitions-only-after-page-load/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
