// Inspired http://sassbreak.com/viewport-relative-headings-with-sass/
@function get-vw($target-px, $context-width-px) {
	$vw-context: ($context-width-px * 0.01) + 0px;
	@return ($target-px/$vw-context) + 0vw;
}

/**
 * Variable Font Size (@pascallaliberte)
 */
@function rem($values) {
	$remValues: "";
	$max: length($values);
	@each $value in $values {
		$i: index($values, $value);
		$remValues: #{$remValues + px-to-rem($value)};
		@if $i < $max {
			$remValues: #{$remValues + " "};
		}
	}
	@return $remValues;
}

@function px-to-rem($target-px) {
	@return ($target-px/10px) + 0rem;
}

/* -------------------------------------------- */

@mixin _col($val:flex) {
    position: relative;
    // Fill space
    @if $val == flex {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    // Adjust to size
    @else if $val == auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    // Set based on percentage
    @else {
        width: 100%;
        flex: 0 0 percentage($val / 12);
        max-width: percentage($val / 12);
    }
}

@mixin styling($prop-name, $val) {
    @if $prop-name == "col" {
        @include _col($val);
    }
    @else if $prop-name == "offset" {
        $num: $val / 12;
        margin-left: if($num == 0, 0, percentage($num));
    }
    @else {
        @each $prop in $prop-name {
            #{$prop}: $val;
        }
    }
}

@include row() {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
@mixin offset($val) {
    @include styling("offset", $val);
}
@mixin col($val) {
    @include styling("col", $val);
}
@mixin padding-x($val) {
    @include styling(("padding-left", "padding-right"), $val);
}
@mixin padding-y($val) {
    @include styling(("padding-top", "padding-bottom"), $val);
}
@mixin margin-x($val) {
    @include styling(("margin-left", "margin-right"), $val);
}
@mixin margin-y($val) {
    @include styling(("margin-top", "margin-bottom"), $val);
}

/* -------------------------------------------- */

@mixin img-fluid() {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@mixin cover() {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@mixin img-cover() {
    bottom: 0;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: unset;
    height: unset;
}

@mixin no-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}