/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$light: #F5F6F7;
$light-gray: #C2C8CB;
$gray: #707070;
$dark: #2E3C40;
$blue: #5197E5;
$red: #F15E61;
$yellow: #F1C442;
$orange: #EF9763;
$green: #32CB90;
$primary: $red;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "light": $light,
    "light-gray": $light-gray,
    "gray": $gray,
    "dark": $dark,
    "blue": $blue,
    "red": $red,
    "yellow": $yellow,
    "orange": $orange,
    "green": $green,
    "primary": $primary,
  ),
  $theme-colors
);

/* Base Colors */
$body-bg: white;
$text-color: $dark;
$body-color: $text-color;
$pre-color: $text-color;
$link-color: $primary;

// Base Sizing
$font-size-base: 1.6rem;
$line-height-base: 1.5;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// Spacers
$spacers: ();
$spacers: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7
  "8": 8
  "9": 9,
);

$sizes: (
  10: 10%,
  25: 25%,
  33: 33.333%,
  50: 50%,
  66: 66.666%,
  75: 75%,
  90: 90%,
  100: 100%
);

$grid-gutter-width: 3rem;

// Container Sizes
// <768px	Small
// >=768px	Medium
// >=992px	Large
// >=1200px

/** workaround for build:production compilation
    see https://github.com/roots/sage/issues/2017 */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;